<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reddit Api Technical Interview</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/static/css/templatemo-festava-live.css" rel="stylesheet">
    
    <link href="/static/style.css" rel="stylesheet">



    <!--

TemplateMo 583 Festava Live

https://templatemo.com/tm-583-festava-live

-->

<!-- Bu websitesi template olarak hazır bir şekilde alınmıştır. https://themewagon.github.io/FestavaLive/ adresinden ulaşabilirsiniz -->
</head>

<body>

    <main>




        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    Reddit Api
                </a>

                <a href="{{ url_for('login') }}" class="btn custom-btn d-lg-none ms-auto me-4">Login</a>
                <span class="button-spacing"></span>
                <a href="{{ url_for('register') }}" class="btn custom-btn d-lg-none ms-auto me-4">register</a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_1">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2">About Project</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_3">Meet Me</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">Pricing</a>
                        </li>
                    </ul>

                    <a href="{{ url_for('login') }}" class="btn custom-btn d-lg-block d-none">Login</a>
                    <span class="button-spacing"></span>
                    <a href="{{ url_for('register') }}" class="btn custom-btn d-lg-block d-none">Register</a>

                </div>
            </div>
        </nav>


        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">

                    <div class="col-12 mt-auto mb-5 text-center">
                        <!-- <small>Festava Live Presents</small> -->

                        <h1 class="text-white mb-5"></h1>

                        <!-- <a class="btn custom-btn smoothscroll" href="#section_2">Let's begin</a> -->
                    </div>

                    <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
                        <div class="date-wrap">
                            <h5 class="text-white">
                                <i class="custom-icon bi-clock me-2"></i>
                                22<sup>th</sup>July,  2023
                            </h5>
                        </div>

                        <div class="location-wrap mx-auto py-3 py-lg-0">
                            <h5 class="text-white">
                                <i class="custom-icon bi-geo-alt me-2"></i>
                                Truth and Consequences 
                            </h5>
                        </div>

                        <div class="social-share">
                            <ul class="social-icon d-flex align-items-center justify-content-center">
                                <span class="text-white me-3">Follow Me:</span>

                                <li class="social-icon-item">
                                    <a href="https://twitter.com/Telumak" class="social-icon-link">
                                        <span class="bi-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay loop muted playsinline class="custom-video" poster="">
                    <source src="/static/video/brandefense-dragon-video.mp4" type="video/mp4">
                </video>
            </div>
        </section>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                        <div class="services-info">
                            <h2 class="text-white mb-4">About Reddit Post Api</h2>

                            <p class="text-white">It is a website that has an API and an admin panel written for Brandefense in 2 days. Its package and docker version are given in the github project. Follow there for the installation steps. If you want to help, read the contrubitation.md file.</p>

                            <h6 class="text-white mt-4">Proje Hakkında</h6>

                            <p class="text-white">It is a system built with Python, Javascript and Flask. It helps you to create your own reddit tracker.</p>

                            <h6 class="text-white mt-4">Why Should You Take Me For An Internship?</h6>

                            <p class="text-white">Because I don't develop bad software, I think I even seem a little good. What do you think, I think you can answer me on twitter about this. I like criticism very much, maybe we can make the application better together.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="about-text-wrap">
                            <img src="/static/images/2023-05-20.jpg" class="about-image img-fluid">

                            <div class="about-text-info d-flex">
                                <div class="d-flex">
                                    <i class="about-text-icon bi-person"></i>
                                </div>


                                <div class="ms-4">
                                    <h3>Hello batuhan</h3>

                                    <p class="mb-0">I think we can recruit you. You write pretty good code :)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="artists-section section-padding" id="section_3">
            <div class="container">
                <div class="row justify-content-center"> 

                    <div class="col-12 text-center">
                        <h2 class="mb-4">Meet Me</h1>
                    </div>

                    <div class="col-lg-5 col-12">
                        <div class="artists-thumb">
                            <div class="artists-image-wrap">
                                <img src="/static/images/oyle.png"
                                    class="artists-image img-fluid">
                            </div>

                            <div class="artists-hover">
                                <p>
                                    <strong>Name:</strong>
                                    Muhammed Batuhan Aydın
                                </p>

                                <p>
                                    <strong>Title</strong>
                                    Cyber Security Member
                                </p>

                                <p>
                                    <strong>Resume</strong>
                                    <a href="/static/Muhammed Batuhan Aydın CV.pdf">Click to download my CV</a>
                                </p>

                                <hr>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-12">
                        <div class="artists-thumb">
                            <div class="artists-image-wrap">
                                <img src="/static/images/Linkedlin.png"
                                    class="artists-image img-fluid">
                            </div>

                            <div class="artists-hover">
                                <p>
                                    <strong>Linkedlin Name</strong>
                                    batuhan-aydinn
                                </p>

                                <p>
                                    <strong>Mail Address</strong>
                                    info@batuhanaydn.com
                                </p>

                                <p>
                                    <strong>Linkedlin Link</strong>
                                    <a href="https://www.linkedin.com/in/batuhan-aydinn/">Click Me</a>
                                </p>

                            </div>
                        </div>

                        <div class="artists-thumb">
                            <img src="/static/images/github.png"
                                class="artists-image img-fluid">

                            <div class="artists-hover">
                                <p>
                                    <strong>Github Name</strong>
                                    Batuhanaydnn and Batuhanaydn
                                </p>

                                <p>
                                    <strong>Github Profile One</strong>
                                    <a href="https://github.com/batuhanaydn">Batuhanaydn</a>
                                </p>

                                <p>
                                    <strong>Github Profile Two</strong>
                                    <a href="https://github.com/batuhanaydnn">Batuhanaydnn</a>
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    


        <section class="pricing-section section-padding section-bg" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Our plan is to intern me</h2>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="pricing-thumb">
                            <div class="d-flex">
                                <div>
                                    <h3><small>Intern smile</small> $0</h3>

                                    <p>Including good things:</p>
                                </div>

                                <p class="pricing-tag ms-auto">Agaya Free <span>100%</span></h2>
                            </div>

                            <ul class="pricing-list mt-3">
                                <li class="pricing-list-item">I have detailed and applied
                                    knowledge OWASP WEP/API
                                    Top 10 vulnerability list</li>

                                <li class="pricing-list-item">Java, PHP, Laravel, Bash and
                                    Python
                                    working experience
                                    </li>

                                <li class="pricing-list-item">Team leadership
                                    Communication
                                    Project management</li>

                                <li class="pricing-list-item">standard content</li>
                            </ul>

                            <a class="link-fx-1 color-contrast-higher mt-4" href="mailto:info@batuhanaydn.com">
                                <span>We want to intern you</span>
                                <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="16" cy="16" r="15.5"></circle>
                                        <line x1="10" y1="18" x2="16" y2="12"></line>
                                        <line x1="16" y1="12" x2="22" y2="18"></line>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                        <div class="pricing-thumb">
                            <div class="d-flex">
                                <div>
                                    <h3><small>Strong Intern</small> $0</h3>

                                    <p>WWant to get a premium intern?</p>
                                </div>
                            </div>

                            <ul class="pricing-list mt-3">
                                <li class="pricing-list-item">Writes all kinds of code</li>

                                <li class="pricing-list-item">Works in any team</li>

                                <li class="pricing-list-item">He can have fun with everyone.</li>

                                <li class="pricing-list-item">He is a complete team player</li>

                                <li class="pricing-list-item">Someone involved in cybersecurity and software development</li>
                            </ul>

                            <a class="link-fx-1 color-contrast-higher mt-4" href="mailto:info@batuhanaydn.com">
                                <span>Recruit powerful intern to your team</span>
                                <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="16" cy="16" r="15.5"></circle>
                                        <line x1="10" y1="18" x2="16" y2="12"></line>
                                        <line x1="16" y1="12" x2="22" y2="18"></line>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>


    <footer class="site-footer">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">Reddit Post Api</h2>
                    </div>

                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-4 pb-2">
                    <h5 class="site-footer-title mb-3">Links</h5>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">About Project</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Meet Me</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Pricing</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <h5 class="site-footer-title mb-3">Have a question?</h5>

                    <p class="text-white d-flex mb-1">
                        <a href="mailto:info@batuhanaydn.com" class="site-footer-link">
                            Mail Me
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="https://linkedin.com/in/batuhan-aydinn" class="site-footer-link">
                            Linkedlin Contact
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
                    <h5 class="site-footer-title mb-3">Location</h5>

                    <p class="text-white d-flex mt-3 mb-2">
                        300 Delaware Ave. Ste 210 #328. Wilmington, Delaware 19801, US</p>

                    <a class="link-fx-1 color-contrast-higher mt-3" href="#">
                        <span>Our Maps</span>
                        <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="16" cy="16" r="15.5"></circle>
                                <line x1="10" y1="18" x2="16" y2="12"></line>
                                <line x1="16" y1="12" x2="22" y2="18"></line>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">Copyright © 2036 Festava Live Company</p>
                        <p class="copyright-text">Distributed by: <a href="https://themewagon.com">ThemeWagon</a></p>
                    </div>

                    <div class="col-lg-8 col-12 mt-lg-5">
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="https://github.com/Batuhanaydnn/Reddit-Api-/blob/master/LICENSE" class="site-footer-link">LICENSE</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="https://github.com/Batuhanaydnn/Reddit-Api-/issues" class="site-footer-link">Your Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--

T e m p l a t e M o

-->

    <!-- JAVASCRIPT FILES -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/click-scroll.js"></script>
    <script src="/static/js/custom.js"></script>

</body>

</html>